* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

body {
    background-color: rgb(243, 241, 255);
}

/* Navbar Styles */
nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #562EFF;

    align-items: center;

}

.menu-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 289px;
    justify-content: space-around;
    align-items: center;
}

.menu-item {
    margin-left: 16px;
    margin-right: 16px;
    color: #FFFFFF;
    text-decoration: none;


}

.logo {
    display: flex;
    align-items: center;
    margin-left: 285px;
}

.logo img, menu {
    width: 40.42px;
    height: 51px;
}

.logo .nav-logo-title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    margin-left: 16px;

}


.container {
    padding: 30px;
    background-color: #FFFFFF;
    width: 870px;
    margin-top: 21px;
    margin-bottom: 21px;
    border-radius: 5px;
}

.section-title {
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}

.top-players {
    margin-bottom: 30px;
}


.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    padding-left: 16px;
    font-weight: 500;
    font-size: 18px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* Top  Blog Styles */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px
}

.blog {
    display: flex;
}

.blog-info {
    margin-left: 16px;
}

.blog img {
    width: 177px;
    height: 117px;
}

.blog-title {
    font-weight: 500;
    font-size: 20px;
}

.blog-author {
    font-weight: 400;
    font-size: 16px;
    color: #9F9F9F
}

.blog-author a {
    color: #562EFF;
    text-decoration: none;
}

/* Latest Course Section Styles */
.course-banner img {
    width: 224px;
    height: 104px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.course {
    width: 253px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 13px;
}

.course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-title {
    font-weight: 500;
    font-size: 20.0336px;

}

.course-instruction {
    color: #ED6B4F;
    font-size: 14.6913px;
}

.fa-star {
    width: 12.25px;
    height: 11.75px;
}

.filled {
    color: #FFC014;


}

.unfilled {
    color: #AEAEAE;

}

.rating-point {
    margin-left: 11px;
}

.course-duration {
    background: #FFE4E8;
    border-radius: 14.6913px;
    color: #FF4A60;
    padding: 5px;
}



.time {
    margin-left: 6px;
}



/* Media Query Styles*/

/* Phones */


@media only screen and (max-width: 576px) {

   
    .logo{
        flex-direction: row;
        margin-left: 20px;
        
    }


    .container {
        width: 100%;

    }

    .players {
        grid-template-columns: repeat(1, 1fr);
    }

    .player {
        flex-direction: column;

    }

    .section-title {
        text-align: center;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog {
        flex-direction: column;
        align-items: center;
    }

    .courses {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .course{
        margin-bottom: 30px;
    }


}

/* Tabs */

@media only screen and (min-width:577px) and (max-width: 767px) {
   
    .logo{
        flex-direction: row;
        margin-left: 20px;
        
        
    }
    .container {
        width: 100%;

    }

    .players {
        grid-template-columns: repeat(2, 1fr);
    }

    .player {
        flex-direction: column;

    }

    .section-title {
        text-align: center;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog {
        flex-direction: column;
        align-items: center;
    }

    .courses {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .course{
        margin-bottom: 30px;
    }



}

/* Computers */

@media only screen and (min-width:768px) {
    .container {
        width: 100%;

    }

    .players {
        grid-template-columns: repeat(2, 1fr);
    }

    .player {
        flex-direction: column;

    }

    .section-title {
        text-align: center;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog {
        flex-direction: column;
        align-items: center;
    }

    .courses {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        
    }
   


}